<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/2002/08/xhtml/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.w3.org/1999/xhtml
                          http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <title>Internal Error Page</title>
	</head>
	<body>
		<wicket:extend>
		  	<div class="internal_error">
				<div class="message-system">
					<wicket:message key="application.internal_error">
						[Internal error]
					</wicket:message>
				</div>
                <div wicket:id="exception-message" />
                <div wicket:id="exception-page" />
				<div>
					<a wicket:id="home" class="hyperlink" href="#">
						<span wicket:id="homeLabel" />
					</a>
				</div>
			</div>
	  	</wicket:extend>
	</body>
</html>
