<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/2002/08/xhtml/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.w3.org/1999/xhtml
                          http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<title wicket:id="app_browser_title" ></title>
	</head>
	<body>
		<div wicket:id="modules" class="tabpanel">[Tabbed panel with modules]</div>
		<wicket:child />
	</body>
</html>