<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/2002/08/xhtml/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.w3.org/1999/xhtml
                          http://www.w3.org/2002/08/xhtml/xhtml1-strict.xsd">
	<wicket:panel>
		<div class="module-selector">
			<table class="tabpanel">
				<tr wicket:id="tabs-container" class="tab-row">
	                <td wicket:id="tabs">
					    <a href="#" wicket:id="link">
						   <span wicket:id="title">[[tab title]]</span>
	                    </a>
	                </td>
				</tr>
	        </table>
		</div>
		<div wicket:id="panel" class="module-panel"></div>
	</wicket:panel>
</html>
