<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_3_0.xsd"
  version="3.0">
  <display-name>dcm4chee-wizard</display-name>
  <filter>
    <filter-name>wicket.dcm4chee-wizard</filter-name>
    <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
    <init-param>
      <param-name>applicationClassName</param-name>
      <param-value>org.dcm4chee.wizard.war.WizardApplication</param-value>
    </init-param>
    <init-param>
      <param-name>dicomConfigurationClass</param-name>
      <param-value>${config-class}</param-value>
    </init-param>
    <init-param>
      <param-name>internalErrorPageClass</param-name>
      <param-value>org.dcm4chee.wizard.common.component.InternalErrorPage</param-value>
    </init-param>
    <init-param>
      <param-name>pageExpiredPageClass</param-name>
      <param-value>org.dcm4chee.wizard.war.MainPage</param-value>
    </init-param>
    <init-param>
      <param-name>LoginAllowedRolename</param-name>
      <param-value>LoginAllowed</param-value>
    </init-param>
    <init-param>
      <param-name>DefaultDicomConfigurationName</param-name>
      <param-value>DicomConfiguration</param-value>
    </init-param>
    <init-param>
      <param-name>ConfigurationAETitle</param-name>
      <param-value>MYAE</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>wicket.dcm4chee-wizard</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>configuration</param-name>
    <param-value>deployment</param-value>
  </context-param>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>dcm4chee-proxy</servlet-name>
    <servlet-class>org.dcm4chee.proxy.service.ProxyServlet</servlet-class>
    <init-param>
      <param-name>dicomConfigurationClass</param-name>
      <param-value>${config-class}</param-value>
    </init-param>
    <init-param>
      <param-name>deviceName</param-name>
      <param-value>dcm4chee-proxy</param-value>
    </init-param>
    <init-param>
      <param-name>jmxName</param-name>
      <param-value>dcm4che:service=dcm4chee-proxy</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
</web-app>
